* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    }
    
    body {
        display: flex;
        justify-content: center;
        height: 100vh;

        background: linear-gradient(45deg, rgba(241, 124, 88, 0.533), rgba(233, 69, 132, 0.533), rgba(36, 170, 219, 0.533), rgba(39, 219, 177, 0.533), rgba(255, 220, 24, 0.533), rgba(255, 55, 6, 0.533)) 0% 0% / 300%, 0% 0% / 300%;
        background-size: 200% 200%;
        animation: Animation 5s ease infinite;
        font-family: Nunito, sans-serif;
        user-select: none;
    }

    @keyframes Animation { 
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
    
    .area {
        margin: 13rem ;
        text-align: center;
    }
    
    .area .title {
        font-family: Cursive;
        font-size: 3rem;
        color: rgb(252, 182, 247);
        text-align: center;
        padding: .6rem 1.4rem;
         border-radius: 8rem;
         background-image: linear-gradient(to right,
         #9f8efa 0%,
         #8556fc 51%,
         #9f8efa 100%)

    }

    .area .btnStart{
        font-family: Cursive;
        margin: 10rem auto;
        padding:  1.2rem 2rem;
        font-size: 1.2rem;
        box-shadow: 0 .1rem .2rem rgb(0, 0, 0, .7);
        color: rgb(252, 182, 247);
        border-radius: 6rem;
        cursor: pointer;
        background-image: linear-gradient(to right,
        #9f8efa 0%,
        #8556fc 51%,
        #9f8efa 100%)
    }

    .area .btnStart:hover {
        box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .7);
    }

    .area .modal {
        position: absolute;
        top: -120%;
        left: 0; right: 0;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
        
     label {
        padding: .6rem;
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: .2rem;
        color: #fff;
     }

     .area .modal.active{
        top: 0;
        height: 100vh;
     }

     .modal input[type=text] {
        width: 55px;
        padding: .6rem;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1.4rem;
        border-radius: .8rem;
        color: rgb(252, 182, 247);
        border: .1rem solid rgb(252, 182, 247);
     }

     .modal input[type=submit]:hover{
        box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .3); 
     }

     .block{
         display:flex;
         justify-content: center;
         float: left;
         width: 50px;   
         height: 50px;
         line-height: 50px ;
         border: 0.15rem solid #8556fc;
         font-size: 2.5rem;
         text-align: center;
         color: black
     }

     .control{
         position: absolute;
         bottom:3rem;
         left: 43%;
    }

     .btn_restart,
     .btn_quit{
         padding:  .6rem 1.6rem;
         font-size: 1.2rem;
         margin: 0 .3rem;
         box-shadow: 0 .1rem .2rem rgb(252, 182, 247);
         color: #fff;
         border-radius : 1.2rem;
         cursor: pointer;
     }

     .btn_restart{
        font-family:Cursive;
         background-image: linear-gradient(to right,
         #9f8efa 0%,
         #8556fc 51%,
         #9f8efa 100%)
     }

     .btn_restart:hover{
         color: rgb(252, 182, 247);
         box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .2)
     }
     .btn_quit{
        font-family: Cursive;
         background-image: linear-gradient(to right,
         #9f8efa 0%,
         #8556fc 51%,
         #9f8efa 100%)
     }

     .btn_quit:hover{
        color: rgb(252, 182, 247);
        box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .2);
     }
     
     .winner{
         position: absolute;
         top: -120%;
         left: 0;
         right: 0;
         background-color:rgba(0, 0, 0, .8);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

     .winner h2{
         font-size: 2rem;
         background: linear-gradient(#9f8efa 0%,
         #8556fc 51%,
         #9f8efa 100%);
         padding: 1.8rem 2.2rem;
         margin: 2rem;
         border-radius:  1.2rem;
         color:rgb(252, 182, 247)
     }

     .winner.active{
         top: 0;
         height: 100vh;
     }

     .fa-solid{
         color: rgb(252, 182, 247);
     }

     @media (max-width: 1200px){
         .control{
             left: 10%;
         }
     }

     @media (max-width:560px){
        .area.title{
          font-size: 2,4rem;
        }

        label{
            margin-top: 5rem;
        }

        .control{
            bottom: 1rem;
        }
    }

    @media (max-width: 360px){
        .area .title{
            font-size: 2rem
        }

        area .btnStart{
            font-size: 1rem;
            padding: 1rem 1.8rem;
        }
    }



   





    
